---
import Card from "@/components/ui/Card.astro";
import formatNumber from "@/lib/formatNumbers";
interface Props {
    player: Player;
}

const { player } = Astro.props;

---

<Card>
    <div class="flex items-center gap-2">
        <div class="avatar size-48!">
            <img class="rounded-lg" src="/images/800x800.png" alt="avatar" />
        </div>
        <div class="flex flex-col w-full">
            <h3>{player.name}</h3>  
            <div class="grid grid-flow-col grid-rows-8 gap-1 w-full">
                <div><span class="font-bold">Position:</span><span>ST</span></div>
                <div><span class="font-bold">Role:</span><span>{player.attributes.role}</span></div>
                <div><span class="font-bold">VG:</span><span>88</span></div>
                <div><span class="font-bold">Age:</span><span>{player.attributes.age}</span></div>

                <div><span class="font-bold">Height:</span><span>191</span></div>
                <div><span class="font-bold">Weight:</span><span>91</span></div>
                <div><span class="font-bold">Foot:</span><span>R</span></div>

                <div><span class="font-bold">TM Value:</span><span>{formatNumber(player.attributes.value)}</span></div>
                <div><span class="font-bold">Market Value:</span><span>{formatNumber(player.attributes.marketValue*1000000+100000000)}</span></div>
                <div><span class="font-bold">Current Wage:</span><span>{formatNumber(player.attributes.currentWage)}</span></div>
                <div><span class="font-bold">Expected Wage:</span><span>{formatNumber(player.attributes.expectedWage)}</span></div>
                <div><span class="font-bold">Fatigue:</span><span>{player.attributes.fatigue}</span></div>
            </div>
        </div>
    </div>
</Card>
