---
import Header from "@/components/Header.astro";
import Tenant from "@/layouts/Tenant.astro";

const tenant = Astro.locals.tenant;
const user = Astro.locals.user
const team = Astro.locals.team
const client = Astro.locals.crootballClient
const tenantName = tenant.configuration.name || "Tenant name";

const CONTENT_BASE_URL = import.meta.env.CONTENT_BASE_URL


if(team){
  return Astro.redirect(`/teams/${team.slug}`);
}


if(user){
  return Astro.redirect(`/users/${user.slug}`);
}

---
<Tenant>
  <div id="root" class="cloak flex flex-col items-center w-full bg-white dark:bg-black">
    <Header nologo={true}/>
    <main class="main-content w-full px-[var(--margin-x)] pb-8">
      
      <div class="flex flex-col items-center justify-center w-full h-v mt-10"> 
        <div class="avatar size-8">
          <img
            class="rounded-lg"
            src={tenant.configuration.logo ? CONTENT_BASE_URL + tenant.configuration.logo : "images/200x200.png"}
            alt="Tenant logo"
          />
        </div>
      
        <h1>{tenantName}</h1>
        <div><span>User</span><span>{user}</span></div>
        <div><span>configuration</span><span>{JSON.stringify(tenant.configuration)}</span></div>

      </div>

    </main>
  </div>
</Tenant>
